doctype html 
html 
    head
        title Quản lý sách
        link(rel="stylesheet", href="/css/common.css")
        link(rel="stylesheet", href="/css/books.css")
        link(rel="stylesheet", href="/css/header.css")
    body
        include ../includes/header.pug
        .background
            .container
                h2.page-title Quản lý sách
                if books.length > 0
                ul.book-list
                    each book, idx in books
                        li.book-list-item
                            .book-cover
                                img(src=`/img/cover/${book.cover}`)
                            .book-info
                                h3.book-title=book.title
                                p=book.description
                                a(href=`books/${book.id}` title="Xem thêm")
                            .book-action
                                a(href=`books/${book.id}/update` title="Sửa") Sửa
                                a(href=`books/${book.id}/delete` title="Xóa") Xóa
                    li.btn-add
                        a(href="books/create") + Thêm
        include ../includes/footer.pug