extends ../default.pug


block title
    if role == 'admin'
        title Quản lý sách
    else
        title Sách

append links
    link(rel="stylesheet", href="/css/books.css")

block content
    - isAdmin = role == 'admin'
    if isAdmin
        .page-title
            h1 Quản lý sách
    
    if books.length > 0
        ul.book-list
            each book, idx in books
                li.book-list-item
                    .book-cover
                        img(src=`/img/cover/${book.cover}`)
                    .book-info
                        h3.book-title=book.title
                        p=book.description
                        a(href=`books/${book.id}` title="Xem thêm")
                    if isAdmin
                        .book-action
                            a(href=`books/${book.id}/update` title="Sửa") Sửa
                            a(href=`books/${book.id}/delete` title="Xóa") Xóa
            if isAdmin
                li.btn-add
                    a(href="books/create") + Thêm
    else
        div.btn-add
            a(href="books/create") + Thêm

