extends ../default.pug


block title
    if role == 'admin'
        title Quản lý sách
    else
        title Sách

block append links
    link(rel="stylesheet", href="/css/books.css")

block content
    - isAdmin = role == 'admin'
    if isAdmin 
        .page-title 
            h1 Quản lý sách
    if isAdmin
        a(href="/books/create")
            button(type="button" class="btn-primary btn-create") Tạo mới
    ul.book-list
        if books.length > 0
            each book, idx in books
                li.book-list-item
                    if isAdmin
                        a(href=`books/${book.id}/update`).book-cover
                            img(src=`/img/cover/${book.cover}`)
                    else
                        .book-cover
                            img(src=`/img/cover/${book.cover}`)
                    .book-info
                        h3.book-title=book.title
                        p=book.author
                        a(href=`books/${book.id}` title="Xem thêm")
                    if isAdmin
                        .book-action
                            a(href=`books/${book.id}/update` title="Sửa") Sửa
                            a(href=`books/${book.id}/delete` title="Xóa") Xóa
        if isAdmin
            a(href="books/create").btn-add.list-item
                span + Thêm

