extends ../default.pug

block title 
    title Cập nhật sách

append links
    link(rel="stylesheet", href="/css/form.css")

block content
    .page-title
        h1 Cập nhật sách
    form(action=`/books/${book.id}` method="POST" enctype="multipart/form-data")
        fieldset
            .input-container
                label(for="title") Tiêu đề
                input(type="text" name="title" value=book.title)
            .input-container
                label(for="author") Tác giả
                input(type="text" name="author" value=book.author)
            .input-container
                label(for="publisher") Nhà xuất bản
                input(type="text" name="publisher" value=book.publisher)
            .input-container
                label(for="publishedYear") Năm xuất bản
                input(type="number" min="0" max="2024" name="publishedYear" value=book.publishedYear)
            .input-container
                label(for="description") Mô tả
                input(type="text" name="description" value=book.description)
            .file-uploader-container
                input(type="file" name="cover" title="" value=book.cover)
            button(type="submit" class="btn-primary ") Cập nhật